@charset "utf-8";

body {
	background-color: #fff;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
#main {
	margin: 0 auto;
	width: 1024px;

}
/*html5 display rule*/
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}
a.homeMembers{
	position:absolute;
	left: 28px;
	top: 8px;
	padding:20px 80px 20px 80px;
	color:transparent;
}
header#mainHeader {
	margin-left: 0px;
	margin-top: 1px;
	float: left;
	margin-bottom: 0;
	border: 1px none #000;
	width: 1022px;
	padding-top: 0px;
	height: 110px;
	background-image: url(images/headerPngClear.png);
	background-repeat: no-repeat;
	background-position: center;
	position:relative;
}
html > body #mainHeader{
	height: auto;
	min-height: 109px;
}
#Link:link, #Link:visited {
	margin-right: 14px;
	margin-top: 60px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#Link:hover, #Link:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link2:link, #Link2:visited {
	margin-right: 9px;
	margin-top: 60px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link2:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#Link2:hover, #Link2:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link2:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link3:link, #Link3:visited {
	margin-right: 9px;
	margin-top: 60px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link3:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#Link3:hover, #Link3:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link3:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link4:link, #Link4:visited {
	margin-right: 9px;
	margin-top: 60px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link4:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#Link4:hover, #Link4:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link4:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
.Txt_Hi {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-style: italic;
	font-weight: bold;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 16px;
	margin-top: 11px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#Link5:link, #Link5:visited {
	margin-right: 15px;
	margin-top: 17px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link5:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#Link5:hover, #Link5:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link5:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link6:link, #Link6:visited {
	margin-right: 9px;
	margin-top: 17px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link6:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#Link6:hover, #Link6:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link6:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link7:link, #Link7:visited {
	margin-right: 9px;
	margin-top: 17px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link7:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#Link7:hover, #Link7:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link7:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link8:link, #Link8:visited {
	margin-right: 9px;
	margin-top: 17px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link8:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#Link8:hover, #Link8:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link8:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link9:link, #Link9:visited {
	margin-right: 9px;
	margin-top: 17px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link9:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#Link9:hover, #Link9:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link9:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link10:link, #Link10:visited {
	margin-right: 9px;
	margin-top: 17px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link10:visited {
	color: #551a8b;
	font-weight: bold;
	text-decoration: none;
}
#Link10:hover, #Link10:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link10:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link11:link, #Link11:visited {
	margin-right: 17px;
	margin-top: 17px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link11:visited {
	color: #551a8b;
	font-weight: bold;
	text-decoration: none;
}
#Link11:hover, #Link11:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link11:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#bodyDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px none #000;
	width: 1022px;
	padding-top: 0px;
	height: 591px;
}
html > body #bodyDiv {
	height: auto;
	min-height: 590px;
}
footer#mainFooter {
	margin-left: 0px;
	margin-top: 0px;
	float: left;
	margin-bottom: 0;
	border: 1px none #000;
	width: 1022px;
	padding-top: 0px;
	height: 99px;
}
html > body footer#mainFooter{
	height: auto;
	min-height: 98px;
}
#List_Item {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 159px;
	margin-top: 25px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item :link, #List_Item :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item :hover, #List_Item :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item2 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 52px;
	margin-top: 25px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item2 :link, #List_Item2 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item2 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item2 :hover, #List_Item2 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item2 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item3 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 48px;
	margin-top: 25px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item3 :link, #List_Item3 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item3 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item3 :hover, #List_Item3 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item3 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item4 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 53px;
	margin-top: 25px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item4 :link, #List_Item4 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item4 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item4 :hover, #List_Item4 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item4 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item5 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 97px;
	margin-top: 25px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item5 :link, #List_Item5 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item5 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item5 :hover, #List_Item5 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item5 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item6 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 159px;
	margin-top: 12px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item6 :link, #List_Item6 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item6 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item6 :hover, #List_Item6 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item6 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item7 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 91px;
	margin-top: 12px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item7 :link, #List_Item7 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item7 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item7 :hover, #List_Item7 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item7 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item8 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 94px;
	margin-top: 12px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item8 :link, #List_Item8 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item8 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item8 :hover, #List_Item8 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item8 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item9 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 80px;
	margin-top: 12px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item9 :link, #List_Item9 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item9 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item9 :hover, #List_Item9 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item9 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item10 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 117px;
	margin-top: 12px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item10 :link, #List_Item10 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item10 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item10 :hover, #List_Item10 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item10 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item11 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 159px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item11 :link, #List_Item11 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item11 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item11 :hover, #List_Item11 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item11 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item12 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 89px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item12 :link, #List_Item12 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item12 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item12 :hover, #List_Item12 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item12 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item13 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 80px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item13 :link, #List_Item13 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item13 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item13 :hover, #List_Item13 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item13 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item14 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 45px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item14 :link, #List_Item14 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item14 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item14 :hover, #List_Item14 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item14 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item15 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 76px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item15 :link, #List_Item15 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item15 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item15 :hover, #List_Item15 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item15 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
