<!doctype html>
<html><head>
	<meta charset="utf-8">
	<title>signUpBox</title>
    <script type="text/javascript">
$(document).ready(function() {
// Tooltip
        $('[data-toggle="tooltip"]').tooltip(options);
		  $('a').tooltip();
});
</script> 
	
	 <script src=" https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
   
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link href="bootstrap-css/jquery.fileupload-ui.css" rel="stylesheet" type="text/css">
 <link rel="stylesheet" type="text/css" href="css/RoundHeaderBubble2.css" media="all">
<link rel="stylesheet" type="text/css" href="css/Home.css" media="all">
 <link rel="stylesheet" type="text/css" href="css/Master_Page3.css" media="all">
 <link rel="stylesheet" type="text/css" href="css/signUpBox1.css" media="all">
   

	<!-- Force latest IE rendering engine or ChromeFrame if installed -->
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
	<!--[if IE]>
	<style type="text/css" media="all">.borderitem {border-style: solid;}</style>
	<![endif]-->
    <!-- Force latest IE rendering engine or ChromeFrame if installed -->
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>

<div id="main">
	<div id="signIn">
    <div id="logoSignUp"> <img src="images/anewluvLogSignIn.png" alt="Anewluv.com Logo"> 
    </div>
    <img src="images/findAspecialNewLuvNow.png" alt="Find a special New Luv now!"> 
    <div id="socMediaBtnSignUp">
    <ul class="socMediaBtns">
       <li> <a href="#" data-toggle="tooltip" data-placement="top" title="FaceBook"><img class="socialIcons" src="images/facebookIcon.png" alt="facebook sign in"> </a></li>
       <li><a href="#" data-toggle="tooltip" data-placement="top" title="Google"><img class="socialIcons" src="images/googlePlusIcon1.png" alt="google plus sign in"></a></li>
       <li><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><img class="socialIcons" src="images/twitterIcon.png" alt="Twitter sign in"></a> </li>
       <li><a href="#" data-toggle="tooltip" data-placement="top" title="PinInterest"><img class="socialIcons"src="images/pinintrestIcon.png" alt="Pin Interest sign in"></a></li>
       <li><a href="#" data-toggle="tooltip" data-placement="top" title="Linked In"><img class="socialIcons"src="images/linkedInIcon.png" alt="Linked in sign in"></a></li>
       <li><a href="#" data-toggle="tooltip" title="Instagram"><img class="socialIcons" src="images/instagramIcon.png" alt="Instagram sign in"></a></li>
    
     </ul>
      <!--<div class="socMediaBtns">
      </div>
       <div class="socMediaBtns">
      </div>
       <div class="socMediaBtns">
      </div>
       <div class="socMediaBtns">
      </div>
       <div class="socMediaBtns">
      </div>
       <div class="socMediaBtns">
      </div>-->
     <!-- <div class="socMediaBtns col-xs-2 col-sm-2">
                                <img src=  "/api/providers/facebook/logo-button.png" class="img-responsive img-rounded" ng-click="socialSignin('facebook')" title="" data-placement="top" data-toggle="tooltip" data-original-title="facebook">
                            </div>
                             <div class="socMediaBtns col-xs-2 col-sm-2">
                         <img class="img-responsive img-rounded" ng-click="socialSignin('google')" src="/api/providers/google/logo-button.png" title="" data-placement="top" data-toggle="tooltip" data-original-title="Google">
</div>
                             <div class="socMediaBtns col-xs-2 col-sm-2">
                                <img src="/api/providers/twitter/logo-button.png" class="img-responsive img-rounded" ng-click="socialSignin('twitter')" title="" data-placement="top" data-toggle="tooltip" data-original-title="Twitter">
                            </div>
                             <div class="socMediaBtns col-xs-2 col-sm-2">
                                <img src="/api/providers/pininterest/logo-button.png" class="img-responsive img-rounded" ng-click="socialSignin('pininterest')" title="" data-placement="top" data-toggle="tooltip" data-original-title="pininterest">
                            </div>
                             <div class="socMediaBtns col-xs-2 col-sm-2">
                          <img class="img-responsive img-rounded" ng-click="socialSignin('linkedin')" src="/api/providers/linkedin/logo-button.png" title="" data-placement="top" data-toggle="tooltip" data-original-title="Linkedin">
                            </div>
                             <div class="socMediaBtns col-xs-2 col-sm-2">
                                <img src="/api/providers/instagram/logo-button.png" class="img-responsive img-rounded" ng-click="socialSignin('instagram')" title="" data-placement="top" data-toggle="tooltip" data-original-title="instagram">
                            </div>
    -->
    </div>
    <div id="wrapperFormSignIn">
        <form class="form-horizontal">
            <div class="spacer"></div>
      <div class="form-group">

    <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter User Name">
  </div>
  <div class="form-group">

    <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter Password">
  </div>
   
      <div class="form-group ">
 <a href="#" class="signUpLinks1"><img src="images/forgotPwd.png" alt="Forgot your password?"></a>
   
  
  </div>
  
  <div class="form-group">
<button type="button" class="btn btn-primary btn-sm btn-block">Log In</button>
  </div>
  <div class="form-group">

  <a href="#" class="signUpLinks2"><img src="images/dontHaveAcct.png"alt="Don’t have an account"></a>
  </div>
  
  <div class="form-group">
<button type="button" class="btn btn-joinNowSignIn btn-sm btn-block">Join Now</button>
  </div>
  
  <div class="spacer"></div>
   </form>
   
   
</div>
    </div>
  </div>
  
  

    
	</div>
	<div class="clearFloat"></div>
</div>
</body>

</html>
