@charset "utf-8";

body {
	background-color: #f1f7ff;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}


#main {
	margin: 0 auto;
	max-width: 100%;
	/*border:2px solid #F00;*/
}
#wrapperFrame {
	margin-left: auto;
	margin-right: auto;
	/*margin-top: 0px;*/
	/*display: inline;*/
	float: left;
	/*margin-bottom: 0;*/
	/*background-color: #f1f7ff;*/
	background-color: #green;
	padding-top: 2%;
	/*height: 707px;*/
	/*border: 1px solid #0F0;*/
	position: relative;
	width:100%;
	height:100%
}

/*#sectionTop {
	margin-left: 1px;
	margin-top: 7px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #fff;
	border: 1px solid #000;
	width: 1018px;
	padding-top: 0px;
	height: 173px;
}
html > body #sectionTop {
	height: auto;
	min-height: 172px;
}
#sectionTopMid {
	margin-left: 1px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #fff;
	border: 1px solid #000;
	width: 1018px;
	padding-top: 0px;
	height: 173px;
}
html > body #sectionTopMid {
	height: auto;
	min-height: 172px;
}
#sectionMidBtm {
	margin-left: 1px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #fff;
	border: 1px solid #000;
	width: 1018px;
	padding-top: 0px;
	height: 173px;
}
html > body #sectionMidBtm {
	height: auto;
	min-height: 172px;
}
#sectionBtm {
	margin-left: 1px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #fff;
	border: 1px solid #000;
	width: 1018px;
	padding-top: 0px;
	height: 173px;
}
html > body #sectionBtm {
	height: auto;
	min-height: 172px;
}*/
/***section class for gallery***/
.galleryPixLP{
	/*margin-left: 1px;*/
	/*margin-top: 1px;*/
	display: block;
	float: left;
	margin-bottom: 0;
	background-color: #fff;
	border: 1px solid #D5ECFA;
	/*border: 1px solid #000;*/
	/* [disabled]width: 100%; */
	padding-top: .4%;
	padding-bottom: 1.1%;
	padding-left: 2.2%;
	padding-right: 3.91%;
	/*height: auto;*/
	/*min-height: 174px;*/
	height: 25.04%;
	width:100%;
}
/***section class for gallery***/
section {
	
}

.lpPicFrameInner {
	margin-left: 1.96%;
	/*margin-top: 6px;*/
	margin-top: 1.21%;
	display: block;
	float: left;
	margin-bottom: 0;
	background-color: #fff;
	border: 1px solid #000;
	/*width: 136px;*/
	width: 14.7%;
	padding-top: 0px;
	/*height: 153px;*/
	height: 87.93%;
	overflow:hidden;
}
/*html > body #lpPicFrameInner {
	height: auto;
	max-height: 35%;
}*/
/*****Photos on the Landing Page*****/
.galleryLanding{
	max-width:110%;
	height:auto;
	width: auto\9; /* ie8 */
	/*min-height:50%;*/
	/*text-align:center;*/
	
/*****Photos on the Landing Page ending*****/	
	
}


#findSomeNbdy{
	/*width: 477px;*/
	width:47.58%;
	/*height: 56px;*/
	height:6%;
	position: absolute;
	/*left: 47px;*/
	left: 4.10%;
	/*bottom: 20px;*/
	bottom: 3.20%;
	z-index: 10;
	border: 1px solid #teal;

	
	}

#findSomeNbdy img{
	max-width:100%;
	height:auto;
}
#socialMediaFooter {
	margin-left: 0px;
	margin-top: 0px;
	border-top: 1px solid #D5ECFA;
	/* [disabled]display: inline; */
	float: left; 
	margin-bottom: 0;
	background-color: #e2eeff;
	/*border: 1px solid #000;*/
	width: 99.9%;
	padding-top: 0px;
	height: 103px;
	text-align:center;
	padding-bottom:.5%;
/*background: rgba(248,251,255,1);
background: -moz-linear-gradient(top, rgba(248,251,255,1) 0%, rgba(248,251,255,1) 37%, rgba(222,236,255,1) 65%, rgba(222,236,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,251,255,1)), color-stop(37%, rgba(248,251,255,1)), color-stop(65%, rgba(222,236,255,1)), color-stop(100%, rgba(222,236,255,1)));
background: -webkit-linear-gradient(top, rgba(248,251,255,1) 0%, rgba(248,251,255,1) 37%, rgba(222,236,255,1) 65%, rgba(222,236,255,1) 100%);
background: -o-linear-gradient(top, rgba(248,251,255,1) 0%, rgba(248,251,255,1) 37%, rgba(222,236,255,1) 65%, rgba(222,236,255,1) 100%);
background: -ms-linear-gradient(top, rgba(248,251,255,1) 0%, rgba(248,251,255,1) 37%, rgba(222,236,255,1) 65%, rgba(222,236,255,1) 100%);
background: linear-gradient(to bottom, rgba(248,251,255,1) 0%, rgba(248,251,255,1) 37%, rgba(222,236,255,1) 65%, rgba(222,236,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8fbff', endColorstr='#deecff', GradientType=0 );
	height: auto;
	min-height: 82px;*/
	/***second geadient***/
	background: rgba(240,245,250,1);
/* Old Browsers */background: -moz-linear-gradient(top, rgba(240,245,250,1) 0%, rgba(240,245,250,0.98) 35%, rgba(200,227,254,0.96) 65%, rgba(200,227,254,0.94) 100%);
 /* FF3.6+ */background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,245,250,1)), color-stop(35%, rgba(240,245,250,0.98)), color-stop(65%, rgba(200,227,254,0.96)), color-stop(100%, rgba(200,227,254,0.94)));
/* Chrome, Safari4+ */background: -webkit-linear-gradient(top, rgba(240,245,250,1) 0%, rgba(240,245,250,0.98) 35%, rgba(200,227,254,0.96) 65%, rgba(200,227,254,0.94) 100%);
 /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, rgba(240,245,250,1) 0%, rgba(240,245,250,0.98) 35%, rgba(200,227,254,0.96) 65%, rgba(200,227,254,0.94) 100%);
 /* Opera 11.10+ */background: -ms-linear-gradient(top, rgba(240,245,250,1) 0%, rgba(240,245,250,0.98) 35%, rgba(200,227,254,0.96) 65%, rgba(200,227,254,0.94) 100%);
 /* IE 10+ */background: linear-gradient(to bottom, rgba(240,245,250,1) 0%, rgba(240,245,250,0.98) 35%, rgba(200,227,254,0.96) 65%, rgba(200,227,254,0.94) 100%);
/* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f5fa', endColorstr='#c8e3fe', GradientType=0 );
/* IE6-9 */
}
#socialMediaFooter img:hover{ 
  width: 110%;
  height: 110%;
}
.socialMediaTags{
	width:33.20%;
	/*width:340px;*/
	height:83px;
	float:left;
	background:#teal;
	border: 1px solid #black;
}
.socialBadgeLp{
	width:125px;
	height:25px;
    border: 1px solid #black;
	float:left;
	margin-top:1%;
	margin-left:3.5%;
	margin-bottom:1%;

}
.socialBadgeLp img{
	width:100%;
	height:100%;
	text-align:center;
	 -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
/****footer links section****/
/*.footerMediaLinks img{
	 -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
	
}*/
.footerMediaLinks{
	width:36.33%;
	/*width:372px;*/
	height:83px;
	float:left;
	background:#yellow;
	border: 1px solid #black;
	/*margin-bottom:3%;*/
}
/*.mediaLinks li{
	display:inline;
}*/


.mediaLinks1{
	 padding:0;
     border: 1px solid #red;
	 height: 40px;
	 width:100%;
	  margin-top: 2%;
}
.mediaLinks1 img {
	width:100%;
	height:100%;
	text-align:center;
	-webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
	 
}
.aboutUsLP1 {
	width:112px;
/*	min-width:27.61%;*/
	height:31px;
	border: 1px solid #purple;
	/*display:block*/;
	/*background-color:#009;*/
	padding:0;
	float:left;
	text-align:left;
	margin-left:12%;
	
	
}

.contactUsLP{
	width:128px;
	/*min-width:33.18%;*/
	height:31px;
	border: 1px solid #purple;
	display:block;
	/*background-color:#009;*/
	float:right;
	margin-right:12%;
}
.mediaLinks1.list-inline {
	margin-top:3.5%;
	display:inline-block;
}
.mediaLinks1.list-unstyled {
	display:none;
}

 .mediaLinks2.list-inline {
	margin-top:3.5%;
	display:inline-block;
}
.mediaLinks2.list-unstyled{
	display:none;
}
.mediaLinks2{
	 color:#FFF;
	 height: 42px;
	 border: 1px solid #green;
	 text-align:center;
	/* margin-left:6px;*/
	 width:100%;
}
.mediaLinks2 img {
	width:100%;
	height:100%;
	text-align:center;
	-webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
.privacyLP{
	min-width: 14%;
	height:22px;
	margin-left:28%;
	padding:0;
	border: 1px solid #purple;
	display:block;
	float:left;
}
/*.privacyLP img{
	width:100%;
	height:100%;*/
	/*float:left;*/

.TOSLP{
	min-width: 16%;
	height:20px;
	margin-right:18%;
	padding:0;
	display:block;
	float:right;
	border: 1px solid #purple;
}
.seperatorLP{
	clear:both;
	border: 1px solid #purple;
	margin:auto 0;
}
/****footer links section end****/
.footerMobileStore{
	width:29.6%;
	/*width:304px;*/
	height:83px;
	float:left;
	background:#purple;
	border: 1px solid #black;
}

.appStoreLp{
	width:100px;
	height:30px;
    border: 1px solid #black;
	margin:1%;
	float:right;

}
.appStoreLp img{
	width:100%;
	height:100%;
	text-align:center;
	-webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
	 
}
.appStoreLp img:hover{
	width:150%;
	height:150%;
	
	 
}
#secondFooter{
	/*margin-top:2%;*/
	padding: .5%;
	width:100%;
	height:10%;
	border: 1px solid #black;
/*	padding: 1.5%;*/
	float:left;
	opacity:.5;
}
/****Beta Ribbon***/
#ribbon {
	position:absolute;
	/*top: 5px;*/
	top: 2.33%;
	left: 0;
	z-index: 10000;
	cursor: pointer;
	width:0%;
	height: auto;
	/*overflow: hidden;*/
}


/****Beta Ribbon ending***/

/*.spacer2{
	with:100%;
	height:50px;
	float:left;
}*/
/****spacer for portrait****/



/****spacer for portrait end****/
/******Hide Mobile******/

/*.hideMobile{
	display:block;
	
}
*/
/****Hide Mobile End***/

/*******CSS media queries******/
        /***Tablet***/

@media  (max-width:955px){
	#main {
	margin: 0 auto;
	max-width: 100%;
	/*border:2px solid #F00;*/
}
#findSomeNbdy{
	/*width: 477px;*/
	width: 42.18%;
	/*height: 56px;*/
	left: 6.1%;
   
	
}
#wrapperFrame {
  
	/*background-color: #000;*/
	padding:0;
}
.galleryPixLP{

	/*background-color: #9F9;
	border: 1px solid #D5ECFA;*/
	padding-left:5%;
	overflow:hidden;
	padding-top: 1.6%;
	padding-bottom: 2.5%;
}
.lpPicFrameInner {
	margin-left:1%;
	/*margin-right:auto;*/
	
	
}
#signInWrapper{
	
	/*left: 590px;*/
	left:48%;
	/*top: 28px;*/
	top: -4%;

	/*opacity:.5;*/
}
	.seperatorLP img{
	display:none;
}
#socialMediaFooter{
	height:145px;
}
.spacer3{
	height:25%;
	width:100%;
	float:left;
	background-color:# F90;
	border: 1px solid #black;
}
.aboutUsLP1 {
	float:none;
}
.contactUsLP{
	float:none;
	margin-left: 20%;
}
.mediaLinks2.list-inline {
	margin-top:11.5%;
	padding:0;
	margin-left:1.2%;
	clear:left;
}
/*.mediaLinks2{
	margin-top:5%;
}*/
/*.privacyLP{
    float:none;
	
}
*/
.TOSLP{
	float:right;
	
}
@media  (max-width:930px){
	/*.galleryPixLP{

	background-color: #006;
	}*/
}

@media  (max-width:765px){
	#signInWrapper{
	top: -1.5%;
	}
	/*.galleryPixLP{
	background-color: #900;
	
}*/
#socialMediaFooter{
	height: 166px;
}
.mediaLinks2.list-inline {
	padding-right: 16%;;
}
.privacyLP{
    float: none;
	margin-right: 7%;
}

	
	.TOSLP{
	float:right;
	/*margin-right:3%;*/
	/*padding-left:5%*/;
}
.spacer3{
	height:32.5%;
}
}
@media  (max-width:745px){
	
	#signInWrapper{
	top: -5.6%;
	}
}
@media  (max-width:684px){
	#signInWrapper{
		top: -5%;
	left: 52.5%;
	
	}
	#signIn{
	 width: 98%;
	}
	.spacer3{
	display:none;
}
	#socialMediaFooter{
	height:140px;
}
.socialMediaTags{
	width: 16.6%;
}
	.footerMobileStore{
		width:18.165%;
	}
	.footerMediaLinks{
		
		width:18.165%;
	}
	
	.mediaLinks1 img{
		height:80%;
		width: 80%;
	}
	.mediaLinks2.list-inline {
	 margin-top: 10%;
	 height:50%;
	}
 .mediaLinks1.list-inline {
	
	display:none;
}
.mediaLinks1.list-unstyled {
	 margin-top: 8%;
	display:inline;
	float:left;
	
}
.mediaLinks2.list-inline {
	display:none;
}
.mediaLinks2.list-unstyled{
	display:block;
	margin-top:25%;
}
	.aboutUsLP1 {
	margin-left: 25%;
}
.contactUsLP{
	margin-top:0;
	margin-left: 10%;
	margin-bottom:50%;
}
	.TOSLP{
	margin: 0;
	}
	/*#socialMediaFooter{
		float:none;
	}
	#secondFooter{
		float:none;
	}*/
}

@media  (max-width:684px){
	.mediaLinks1 img{
		height:90%;
		width:90%;
	}
	#socialMediaFooter .mediaLinks1 img:hover{
		height: 98%;
      width: 97.5%;
	}
	.contactUsLP{
	margin-left: 18%;
	}
	.privacyLP{
    float: right;
	 margin-right: 15%;
	
}
#signIn{
	width:98%;
	min-width:96%;
}
	
}
@media (max-width:678px)  {
	.aboutUsLP1 {
	height: 28px;
    width: 100%;
}

.contactUsLP{
    height: 28px;
    width: 100%;
	
}
@media (max-width:625px)  {
		
	/*	.galleryPixLP{
	background-color: #0C0;
	
}*/

#signIn{
	min-width:98%;
}
.aboutUsLP1 {
	height: 28px;
    width: 100%;
}

.contactUsLP{
    height: 28px;
    width: 100%;
}
	}
	@media (max-width:623px){
		/*#signInWrapper{
		top: 100%;
	    left: 50%;
	transform: translate(-50%, -50%);
	}*/
		#signIn{
			width:100%;
		}
		#socialMediaFooter .mediaLinks1 img:hover{
		height: 105%;
    width: 92%;
	}
	}
     /***Tablet end***/
	  /***Mobile ***/

	
	
	@media  (max-width:525px){
		/******Hide Mobile******/

.hideMobile{
	display:none;
	
}

/****Hide Mobile End***/
	#signInWrapper{
		top: 100%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    width:98%;
	}
	#signIn{
			
		}
	#findSomeNbdy{
	display:none;
}
	.spacer3{
	display:block;
	height: 50%;
}
#socialMediaFooter{
		display:none;
	}
#secondFooter{
		display:none;
	}
	}
	@media  (max-width:524px){
			#signInWrapper{
		top: 78%;
	    
	
	}
	}
@media  (max-width:452px){
			#signInWrapper{
		top: 100%;
	    
	
	}
	}
	
	@media  (max-width:353px){
			#signInWrapper{
		top: 113.5%;
	    
	
	}
	}
	  /***Mobile end***/
/****CSS media queries end***/



