@charset "utf-8";

body {
	background-color: #fff;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
/*html5 display rule*/
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}
#main {
	margin: 0 auto;
	width: 1024px;
}
#header {
	margin-left: 0px;
	margin-top: 0px;
	display: block;
	float: left;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 1022px;
	padding-top: 0px;
	height: 334px;
}
html > body #header {
	height: auto;
	min-height: 333px;
}
aside.headerAd  {
	text-align:center;
	margin-left: 0px;
	margin-top: 1px;
	float: left;
	margin-bottom: 0;
	border: 1px none #000;
	width: 1022px;
	padding-top: 10px;
	height: 114px;
}
html > body header.headerAd{
	height: auto;
	min-height: 113px;
}
#postBoard {
	text-align:center;
	margin-left: 0px;
	margin-top: 0px;
	display: block;
	float: left;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 1022px;
	padding-top: 0px;
	height: 115px;
}
html > body #postBoard {
	height: auto;
	min-height: 114px;
}
#photoBoxStrip {
	margin-left: 10px;
	margin-top: 0px;
	display: block;
	float: left;
	margin-bottom: 0;
	background-color: #fff;
	border: 1px solid #000;
	width: 998px;
	padding-top: 0px;
	height: 113px;
}
html > body #photoBoxStrip {
	height: auto;
	min-height: 112px;
}
#pic1 {
	margin-left: 28px;
	margin-top: 7px;
	display: block;
	float: left;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic1 {
	height: auto;
	min-height: 94px;
}
#bodyDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: block;
	float: left;
	margin-bottom: 0;
	border: 1px none #000;
	width: 1022px;
	padding-top: 0px;
	height: 449px;
	padding-left: 0px;
}
html > body #bodyDiv {
	height: auto;
	min-height: 448px;
}
h1.Txt_NewRap {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 310%;
	font-weight: bold;
	text-align: center;
	color: #115eb2;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: auto;
	margin-top: 40px;
	display: block;
	/*float: left;*/
margin-bottom: 0;
}
.Txt_Select a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-weight: bold;
	text-align: left;
	color: #6798ff;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 21px;
	margin-top: 12px;
	display: inline-block;
	float: left;
	text-decoration:none;
}
.Txt_Select a:hover{
	color: #6798ff;
	text-decoration:underline;
}

.Txt_Delete a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-weight: bold;
	text-align: left;
	color: #6698ff;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 27px;
	margin-top: 12px;
	display: inline-block;
	float: right;
	text-decoration:none;
}
.Txt_Delete a:hover{
	color: #6798ff;
	text-decoration:underline;
}
.Greybar {
	margin-left: 0px;
	margin-top: 7px;
	display: block;
	float: left;
	margin-bottom: 1px;
	background-color: #fff;
	border: 1px solid #999;
	width: 1018px;
	padding-top: 0px;
	height: 37px;
	background: rgb(153,153,153); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5OTk5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQyJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhNWE1YTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(153,153,153,1) 0%, rgba(255,255,255,1) 42%, rgba(165,165,165,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,153,153,1)), color-stop(42%,rgba(255,255,255,1)), color-stop(100%,rgba(165,165,165,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(153,153,153,1) 0%,rgba(255,255,255,1) 42%,rgba(165,165,165,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(153,153,153,1) 0%,rgba(255,255,255,1) 42%,rgba(165,165,165,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(153,153,153,1) 0%,rgba(255,255,255,1) 42%,rgba(165,165,165,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(153,153,153,1) 0%,rgba(255,255,255,1) 42%,rgba(165,165,165,1) 100%); /* W3C */




filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#a5a5a5',GradientType=0 ); /* IE6-8 */
	opacity:.5;
}
html > body .Greybar {
	height: auto;
	min-height: 36px;
}
/*#colwrapNewRap2 {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 255px;
}*/
.wrapperQikstat {
	text-align:center;
	margin-left: auto;
	margin-right:auto;
	margin-top: -2px;
	display: block;
	float: left;
	margin-bottom: 0;
	width: 252px;
	padding-top: 0px;
	/*height: 293px;*/
	position:relative;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
	
}
html > body #wrapperQikstat {
	height: auto;
	/*min-height: 293px;*/
}
#wrapperQikstat {
	text-align:center;
	margin-left: auto;
	margin-right:auto;
	margin-top: -2px;
	display: block;
	float: left;
	margin-bottom: 0;
	width: 256px;
	padding-left: 2px;
	/*height: 293px;*/
	position:relative;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
	
}
html > body #wrapperQikstat {
	height: auto;
	/*min-height: 293px;*/
}
#wrapperQikstat2 {
	text-align:center;
	margin-left: auto;
	margin-right:auto;
	margin-top: -2px;
	display: block;
	float: left;
	margin-bottom: 0;
	width: 252px;
	padding-top: 0px;
	/*height: 293px;*/
	position:relative;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
	
}
html > body #wrapperQikstat {
	height: auto;
	/*min-height: 293px;*/
}
h2.TxtNewActRap {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #115eb2;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left:auto;
	margin-top: 36px;
	display: block;
	margin-bottom: 0;
}
.quikStatBox {
	margin-left: auto;
	margin-right: auto;
	margin-top: 29px;
	display: block;
	margin-bottom: 10px;
	background-color: #fff;
	border: 1.7px solid #000;
	width: 240px;
	padding-top: 0px;
	height: 154px;
	border-radius:12px;
	-moz-box-shadow:0px 0px 10px 2px #666;
   -webkit-box-shadow:0px 0px 10px 2px #666;
    box-shadow:0px 0px 10px 2px #666;
}

.wrapperHandle {
	text-align:center;
	margin-left: 0px;
	margin-top: -1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 238px;
	padding-top: 0px;
	height: 27px;

}
.Txt_Name {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: left;
	color: #333;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 2px;
	margin-top: 5px;
	display: inline-block;
	float: left;
	margin-bottom: 0;
}
.chatIconNA {
	margin-left: 3px;
	margin-top: 6px;
	display: inline-block;
	float: left;
	margin-bottom: 0;
	width: 15px;
	padding-top: 0px;
	height: 14px;
	background-image: url(../images/chatIconsSm.png);
	background-repeat: no-repeat;
	background-position: left center;
	cursor:pointer;
	position:relative;
}
.chatIconNA:hover {
	background-image: url(../images/chatIconsSm.png);
	background-repeat: no-repeat;
	background-position:-21px;
}
.delete_box {
	margin-right: 5px;
	margin-top: 3px;
	display: inline-block;
	float: right;
	margin-bottom: 0;
	/*border: 1px solid #000;*/
	width: 15px;
	padding-top: 0px;
	height: 13px;
}
html > body .delete_box {
	height: auto;
	min-height: 12px;
}
#colwrapNewRap6 {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 97px;
}
#detailsProfileBoxDiv {
	margin-left: 3px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #detailsProfileBoxDiv {
	height: auto;
	min-height: 94px;
}
#iconNavs {
	margin-left: 4px;
	margin-top: 0px;
	display: block;
	text-align:center;
	float: left;
	margin-bottom: 0;
	width: 94px;
	padding-top: 0px;
	height: auto;
}
.iconNavEmail{
	display: inline-block;
	float: left;
	margin-right: 4px;
	width: 28px;
	padding-top: 0px;
	height: 30px;
	cursor:pointer;
	background-image: url(../images/emailSmallIcons.png);
	background-repeat: no-repeat;
	background-position: left 5px;
	position:relative;
}
.iconNavEmail:hover {
	background-image: url(../images/emailSmallIcons.png);
	background-repeat: no-repeat;
	background-position: -29px 5px;
}
.iconNavInterest{
	display: inline-block;
	float: left;
	margin-right: 3px;
	width: 29px;
	padding-top: 0px;
	height: 26px;
	cursor:pointer;
	background-image: url(../images/sendInterestSmallIcons.png);
	background-repeat: no-repeat;
	background-position: 3px 5px;
	position:relative;
}
.iconNavInterest:hover{
	background-image: url(../images/sendInterestSmallIcons.png);
	background-repeat: no-repeat;
	background-position:-27px 5px;
}
.iconNavLike{
	display: inline-block;
	float: left;
	margin-right: 0x;
	width: 29px;
	padding-top: 0px;
	height: 25px;
	cursor:pointer;
	background-image: url(../images/likeSmallIcons.png);
	background-repeat: no-repeat;
	background-position: 3px 6px;
	position:relative;
}
.iconNavLike:hover{
	background-image: url(../images/likeSmallIcons.png);
	background-repeat: no-repeat;
	background-position: -29px 5px;
}
.colwrapActRap {
	padding-top: 10px;
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 136px;
}
.Txt_Age {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 8px;
	margin-top: 5px;
	display: inline-block;
	float: left;
	margin-bottom: 0;
}
.Txt_Location {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	/*margin-left: 6px;*/
	margin-top: 5px;
	display: inline-block;
	/*float: left;*/
	margin-bottom: 0;
}
.Txt_Num {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 110%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 8px;
	margin-top: 5px;
	display: inline-block;
	float: left;
	margin-bottom: 0;
}
.Txt_more a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 110%;
	text-align: left;
	color:#0C0;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 6px;
	margin-top: 5px;
	display: inline-block;
	/*float: left;*/
	margin-bottom: 0;
}
.Txt_more a:hover{
	color:#0C0;
	text-decoration:none;
	font-weight:bolder;
}
.Txt_ge {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left:8px;
	margin-top: 5px;
	display: inline-block;
	float: left;
	margin-bottom: 0;
}
.Txt_Active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 8px;
	margin-top: 5px;
	display: inline-block;
	/*float: right;*/
	margin-bottom: 0;
	width: 128px;
}
.Txt_View a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-weight: bold;
	text-align: center;
	color: #115eb2;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 2px;
	margin-top:10px;
	display: inline-block;
	float: right;
	margin-bottom: 0;
}
.Txt_View  a:hover{
	color: #000;
	font-weight:bolder;
}
.Txt_Previous a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #5590cd;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 12px;
	margin-top: 18px;
	display: inline-block;
	float: left;
	text-decoration:none;
}
/*#colwrapNewRap5 {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 256px;
}*/

/*#colwrapNewRap6a {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 256px;
}*/

/*#colwrapNewRap7a {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 254px;
}*/

.Txt_Next a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #6898ff;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 15px;
	margin-top: 18px;
	display: inline-block;
	float: right;
	text-decoration:none;
}
NewActPrevNextWrapper{
	
}
aside.adFooter{
	text-align:center;
	margin-left: 0px;
	margin-top: 0px;
	float: left;
	margin-bottom: 0;
	width: 1022px;
	padding-top: 10px;
	height: 123px;
	border: 1px none #000;
}
html > body footer.adFooter {
	height: auto;
	min-height: 122px;
}
.InnerRowsNactRap {
	
	text-align:center;
	/*border: 1px solid #000;*/
	height: 26px;
}
html > body .InnerRowsNactRap {
	max-height: 26px;
	height:auto;
}
/*#box{
	text-align:center;
	width:auto;
	
}*/
dialog{
	text-align:center;
}
/* tooltips for the icons*/
 a.tooltip{
	color:transparent;
	display:block;
	line-height:24px;
}
 .quikStatBox a.tooltip::before {
    content: attr(data-tip) ;  
 
    font-size: 10px;
    position:absolute;
    z-index: 999;
    white-space:nowrap;
    bottom:9999px;
    left:50%;
    background:#115eb2;
    color:#e0e0e0;
    padding:0px 7px;
    line-height:20px;
    height: 20px;
	border-radius:2px;
 
    opacity: 5;
    transition:opacity 0.4s ease-out;
    }
 
   .quikStatBox a.tooltip:hover::before {
    opacity: 4;
    bottom:-30px;
    }
/*spacers for links*/
.spacerNewRap{
	text-align:center;
	margin-left: auto;
	margin-right:auto;
	margin-top: -2px;
	display: block;
	float: left;
	margin-bottom: 0;
	width: 252px;
	padding-top: 0px;
	height:35px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
}
#spacerNewRap{
	text-align:center;
	margin-left: auto;
	margin-right:auto;
	margin-top: -2px;
	display: block;
	float: left;
	margin-bottom: 0;
	width: 256px;
	padding-left: 2px;
	height:35px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
	border--bottom-left-radius:5px;
}
#spacerNewRap2{
	text-align:center;
	margin-left: auto;
	margin-right:auto;
	margin-top: -2px;
	display: block;
	float: left;
	margin-bottom: 0;
	width: 252px;
	padding-top: 0px;
	height:35px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
	border-bottom-right-radius:5px;
}
