@model EmailMatchesViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Photo Uploaded</title>
    <style type="text/css">
        body
        {
             bgcolor="#ffffff";
             font-family: Arial,Helvetica,sans-serif; 
             font-size: 12px;
             color: #0c52b2;
             
        }
        
        body a
        {
             
             font-family: Arial,Helvetica,sans-serif; 
             font-size: 12px;
             color: #0c52b2;
             /*text-decoration:none;*/
        }
        .header
        {
            border-top-width: 1px;
            border-right-width: 1px;
            border-bottom-width: 1px;
            border-left-width: 1px;
            border-top-style: solid;
            border-right-style: solid;
            border-bottom-style: none;
            border-left-style: solid;
            border-top-color: #6bb5ff;
            border-right-color: #6bb5ff;
            border-bottom-color: #6bb5ff;
            border-left-color: #6bb5ff;
            border-radius: 5px 5px 0px 0px;
            padding: 10px 0px 0px 10px;
            vertical-align: top;
            
        }
        .templatebody
        {
            border-top-width: 1px;
            border-right-width: 1px;
            border-bottom-width: 1px;
            border-left-width: 1px;
            border-top-style: solid;
            border-right-style: solid;
            border-bottom-style: none;
            border-left-style: solid;
            border-top-color: #6bb5ff;
            border-right-color: #6bb5ff;
            border-bottom-color: #6bb5ff;
            border-left-color: #6bb5ff;
            position: relative;            
            font-size: 14px;
        }
        
         .templatebody a
        {            
            font-size: 14px;
        }
        
        .templatebodygradient
        {
             background: background: #a0d8ef;
             
                        /* old browsers */            
            background: -moz-linear-gradient(top,  #F6FBFD 0%, #F6FBFD 17%, #feffff 100%); /* ff3.6+ */
            
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EAF6FB), color-stop(17%,#EAF6FB), color-stop(100%,#feffff));
                        /* chrome,safari4+ */
            background: -webkit-linear-gradient(top,  #EAF6FB 0%,#F6FBFD 17%,#feffff 100%); /* chrome10+,safari5.1+ */
            background: -o-linear-gradient(top,  #EAF6FB 0%,#F6FBFD 17%,#feffff 100%); /* opera 11.10+ */
            background: -ms-linear-gradient(top,  #EAF6FB 0%,#F6FBFD 17%,#feffff 100%); /* ie10+ */
            background: linear-gradient(to bottom,  #EAF6FB 0%,#F6FBFD 17%,#feffff 100%); /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EAF6FB', endColorstr='#feffff',GradientType=0 );/* ie6-9 */
            
        }
        .footer
        {
            border-top-width: 1px; 
            border-right-width: 1px; 
            border-bottom-width: 1px;
            border-left-width: 1px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid;
            border-left-style: solid; 
            border-top-color: #6bb5ff; 
            border-right-color: #6bb5ff;
            border-bottom-color: #6bb5ff; 
            border-left-color: #6bb5ff; 
            border-radius: 0px 0px 5px 5px;
            text-align: left;  
            padding: 10px 10px 10px 10px;                    
        }
        .tab
        {
            border-top-width: 1px;
            border-right-width: 1px;
            border-bottom-width: 1px;
            border-left-width: 1px;
            border-top-style: solid;
            border-right-style: solid;
            border-bottom-style: none;
            border-left-style: solid;
            border-top-color: #6bb5ff;
            border-right-color: #6bb5ff;
            border-bottom-color: #6bb5ff;
            border-left-color: #6bb5ff;
            border-radius: 5px 5px 0px 0px;
            padding: 10px 10px 10px 10px;
            vertical-align: top;
            /*background-color:#a0d8ef;*/
            background-color: #94C8FC;
        }
        .tab a
        {           
            color:White;
        }
            
        .newsHeader
        {                
            padding:0px 10px 10px 0px;
        }
            
        .news
        {
            border-top-width: 1px;
            border-right-width: 1px;
            border-bottom-width: 1px;
            border-left-width: 1px;
            border-top-style: solid;
            border-right-style: solid;
            border-bottom-style: solid;
            border-left-style: solid;
            border-top-color: #6bb5ff;
            border-right-color: #6bb5ff;
            border-bottom-color: #6bb5ff;
            border-left-color: #6bb5ff;
            padding:10px 10px 10px 10px;
            background-color:#ffffff;
            width:460px;
        }
            
        .newsfooter
        {                
            padding: 10px 10px 0px 0px;
        }
        .newsbody
        {
            border-top-width: 1px;
            border-right-width: 1px;
            border-bottom-width: 1px;
            border-left-width: 1px;
            border-top-style: solid;
            border-right-style: solid;
            border-bottom-style: solid;
            border-left-style: solid;
            border-top-color: #6bb5ff;
            border-right-color: #6bb5ff;
            border-bottom-color: #6bb5ff;
            border-left-color: #6bb5ff;
                        
            padding: 10px 20px 5px 20px;
             background: background: #a0d8ef;
                                    /* old browsers */            
            background: -moz-linear-gradient(top,  #F6FBFD 0%, #F6FBFD 17%, #feffff 100%); /* ff3.6+ */
            
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EAF6FB), color-stop(17%,#EAF6FB), color-stop(100%,#feffff));
                        /* chrome,safari4+ */
            background: -webkit-linear-gradient(top,  #EAF6FB 0%,#F6FBFD 17%,#feffff 100%); /* chrome10+,safari5.1+ */
            background: -o-linear-gradient(top,  #EAF6FB 0%,#F6FBFD 17%,#feffff 100%); /* opera 11.10+ */
            background: -ms-linear-gradient(top,  #EAF6FB 0%,#F6FBFD 17%,#feffff 100%); /* ie10+ */
            background: linear-gradient(to bottom,  #EAF6FB 0%,#F6FBFD 17%,#feffff 100%); /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EAF6FB', endColorstr='#feffff',GradientType=0 );/* ie6-9 */
            
        }
        
        .profileheader
        {
            border-top-width: 1px;
            border-right-width: 1px;
            border-bottom-width: 1px;
            border-left-width: 1px;
            border-top-style: solid;
            border-right-style: solid;
            border-bottom-style: none;
            border-left-style: solid;
            border-top-color: #6bb5ff;
            border-right-color: #6bb5ff;
            border-bottom-color: #6bb5ff;
            border-left-color: #6bb5ff;
            border-radius: 15px 15px 0px 0px;
            padding: 10px 0px 0px 10px;
            vertical-align: top;
            width:500px;
            padding:10px 10px 10px 10px;
            background: url(&quot;&quot;) repeat-x 100% 0px #6bb5ff;
            color:White;
        }
        .profilebody
        {
            border-top-width: 1px;
            border-right-width: 1px;
            border-bottom-width: 1px;
            border-left-width: 1px;
            border-top-style: solid;
            border-right-style: solid;
            border-bottom-style: solid;
            border-left-style: solid;
            border-top-color: #6bb5ff;
            border-right-color: #6bb5ff;
            border-bottom-color: #6bb5ff;
            border-left-color: #6bb5ff;
            position: relative;            
            width:500px;
            padding:10px 10px 10px 10px;
            border-radius: 0px 0px 15px 15px;
            background: url(&quot;&quot;) repeat-x 100% 0px white;
        }
        .profilesubheader
        {
            background: url(&quot;&quot;) repeat-x 100% 0px #6bb5ff;
            color:White;
            font-weight:bold;
            font-size: 10x !important;
            padding:5px 5px 5px 5px;
        }
        .profiletext
        {
            padding: 2px 2px 2px 5px;
        }
    </style>
</head>
<body>
    <table align="center" width="550" border="0" cellspacing="0" cellpadding="0" summary="Anewluv.com Email and matches">
        <tbody>
            <tr id="Header">
                <td class="header">
                    <table width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        <a href="#">View in Web Browser</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img alt="A Newlove" src="../../Images/anewluv.jpg" />
                                </td>
                            </tr>
                            <tr>
                                <td align="right">
                                    <table>
                                        <tr>
                                            <td class="tab">
                                                <a href="#" style="text-decoration: none">User Admin</a>
                                            </td>
                                            <td class="tab">
                                                <a href="#" style="text-decoration: none">Photo Admin</a>
                                            </td>
                                            <td class="tab">
                                                <a href="#" style="text-decoration: none">Message Admin</a>
                                            </td>
                                            <td class="tab">
                                                <a href="#" style="text-decoration: none">Chat Admin</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr id="body">
                <td class="templatebody templatebodygradient">
                    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="">
                        <tbody>
                            <tr>
                                <td height="6" colspan="2">
                                    <br />
                                </td>
                            </tr>
                            <tr>
                                <td width="280" valign="bottom" style="padding-left: 10px; vertical-align: top">
                                    <div>
                                        @Html.Raw(Model.EmailViewModel.body)
                                    </div>
                                    <div>
                                        <br />
                                        <table>
                                            <tr>
                                                <td colspan="2">
                                                    <img width="192" height="192" src="../../Images/photo.jpg" alt="photo" style="border: 1px solid #6bb5ff;" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table cellspacing="1" cellpadding="6" border="0" align="" width="90px">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="middle" bgcolor="#6bb5ff" align="center" style="background: url(&quot;&quot;) repeat-x 100% 0px #6bb5ff;
                                                                    border: 1px solid #6bb5ff">
                                                                    <div style="padding-right: 10px; padding-left: 10px">
                                                                        <a target="_blank" rel="nofollow" href="#" style="text-decoration: none"><span style="color: white;
                                                                            font-weight: bold; display: block; white-space: nowrap">Approve</span></a></div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td>
                                                    <table cellspacing="1" cellpadding="6" border="0" align="" width="90px">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="middle" bgcolor="#6bb5ff" align="center" style="background: url(&quot;&quot;) repeat-x 100% 0px #6bb5ff;
                                                                    border: 1px solid #6bb5ff">
                                                                    <div style="padding-right: 10px; padding-left: 10px">
                                                                        <a target="_blank" rel="nofollow" href="#" style="text-decoration: none"><span style="color: white;
                                                                            font-weight: bold; display: block; white-space: nowrap">Reject </span></a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                                <td width="150" align="right" style="padding-right: 20px; vertical-align: top">
                                    <table width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td align="right">
                                                    <b>@Model.EmailViewModel.subject</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="right">
                                                    <font size="1" color="#78735f"><b>@DateTime.Today.ToString("MMM dd, yyyy")</b></font>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" style="padding-right: 10px; padding-top: 10px" colspan="2">
                                    <table cellspacing="1" cellpadding="6" border="0" align="">
                                        <tbody>
                                            <tr>
                                                <td valign="middle" bgcolor="#6bb5ff" align="center" style="background: url(&quot;&quot;) repeat-x 100% 0px #6bb5ff;
                                                    border: 1px solid #6bb5ff">
                                                    <div style="padding-right: 10px; padding-left: 10px">
                                                        <a target="_blank" rel="nofollow" href="#" style="text-decoration: none"><span style="color: white;
                                                            font-weight: bold; display: block; white-space: nowrap">Member Admin</span></a></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 0px; margin: 0px" colspan="3">
                                    &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr id="footer">
                <td class="footer">
                    <p>
                        You are receiving this email because you are a registered anewluv.com dating site
                        subscriber. You have agreed under member terms and conditions to accept emails from
                        our service regarding offers and service updates.<br />
                        You can change your email delivery options or unsubscribe at anytime if you <a href="#">
                            click here</a> and follow the instructions. Or log into your account and click
                        on &ldquo;Account settings&rdquo; and follow the prompts.<br />
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
