#Chat
{
    position: fixed;
}
#Chat .tblborder
{
    border: 1px solid gray;
}
#Chat .tblborder tr td
{
    padding: 2px 2px 2px 2px;
}
#Chat table table
{
    width: 210px;
    text-align: left;
    font-family: Verdana !important;
    font-size: 10px !important;
}
.personlink
{
    text-decoration: none !important;
    color: #000000;
}
.personlink table
{
    width: 210px;
    text-align: left;
}

.personlink table tr td
{
    text-align: left;
}
.chtpersonimgcell
{
    width: 30px;
}
.chtpersonnamecell
{
    width: 160px;
}
.offlinestatus
{
    src: none;
    height: 7px;
    width: 7px;
}
.onlinestatus
{
    background-image: url("../img/iconimages.png");
    background-position: 0px -284px;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 12px;
    width: 8px;
}
.onlinemobilestatus
{
    background-image: url("../img/iconimages.png");
    background-position: -143px -370px;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 12px;
    width: 8px;
}

.offlinemobilestatus
{
    background-image: url("../img/iconimages.png");
    background-position: -134px -370px;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 12px;
    width: 8px;
}

.slider
{
    width: 1040px;
    float: right;
    position: fixed;
    top: 70%;
    height:255px;
}
.chatbox
{
    float: right;
    background: white;
    border: 1px solid gray;
    margin-right: 10px;
}
.chatbox tr th
{
    background-color: lightBlue;
    height: 20px;
    padding-right: 5px;
}
.settingbutton
{
    background-image: url("../img/iconimages.png");
    background-position: -292px -61px;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 12px;
    width: 10px;
}
.tooglebutton
{
    background-image: url("../img/iconimages.png");
    background-position: -289px -36px;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 12px;
    width: 14px;
}
.searchpersonbox
{
    width: 150px;
    height: 10px !important;
    font-family: Verdana !important;
    font-size: 10px !important;
    margin-bottom: 0px !important;
}
.tdchatlist
{
    height: 880px;
    overflow: scroll;
    vertical-align: top;
}
.tlbchatsearch
{
    border: 1px solid gray;
}
.chatminimisedlist
{
    border: 1px solid gray;
    padding: 5px 5px 5px 5px;
    background-color: lightBlue;
    float: right;
    position: fixed;
    top: 97%;
    width: 100px;
}
.chatcameraicon
{
    background-image: url("../img/iconimages.png");
    background-position: -143px -400px;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 12px;
    width: 10px;
}
.closebutton
{
    text-decoration: none;
}
.chatminimisedbox
{
    border: 1px solid gray;
    padding: 5px 5px 5px 5px;
    background-color: lightBlue;    
    width: 100px;    
    position:relative;
    top:96%;
    float:right;
    margin-right: 10px;
}





.ItemActionButtons
        {
        }
        .ItemActionButtons .SettingOptions
        {
            display: none;
            list-style-type: none;
            padding: 5px;
            margin: 0;
            border: 1px solid #DCDCDC;
            background-color: #fff;
            z-index: 999;
            position: absolute;
        }
        .ItemActionButtons .SettingOptions li
        {   
            margin: 0;            
            border: 1px solid #fff;
            width:120px;
        }
        .ItemActionButtons .SettingOptions li:hover
        {
            cursor: pointer;
            background-color: #DCDCDC;
        }
        .ItemActionButtons .SettingOptions li a
        {
            text-transform: none;
        }