/*left menu */

ul.sideMenu { 
	margin:0;
	padding:0;
	width:100%;
	display:block;
}
.sideMenu li { 
	margin:0 0 5px 0;
	padding:0 0 5px 0;
	width:100%;
	list-style:none;
	text-align:left;
}
.sideMenu li a { 
	margin:0 0 3px 0;
	padding:0 0 5px 0;
	width:100%; 
	position:relative;
	padding:5px;
	background-color:#c1d3ed;
	color:#000;
	font-size:11px;
	font-weight:bold;
	float:left;
}
.sideMenu li a span { 
	float:left;
	margin:0 3px 0 0;
}
.sideMenu li a .active { 
	background-color:#5887ce;
}
.sideMenu li a:hover { 
	background-color:#5887ce;
}

.dwn-ar { 
width:10px;
height:5px;
background:url(../images/dwn.png);
float:right !important;
margin-top:5px !important;
}
.up-ar { 
width:10px;
height:5px;
background:url(../images/up.png);
float:right !important;
margin-top:5px !important;
}
ul.sidemenuOpen {
	margin:0;
	padding:0;
	width:100%;
	display:block;
}
.sidemenuOpen li { 
	margin:0 0 5px 0;
	padding:0 0 5px 0;
	width:100%;
	list-style:none;
	text-align:left;
}
.sidemenuOpen-Diet,.sidemenuOpen-Basic,.sidemenuOpen-Settings,.sidemenuOpen-Character,.sidemenuOpen-LifeStyle,.sidemenuOpen-Appearance{	
	display:none;
	}
.sidemenuOpenli li a { 
	margin:0 0 3px 0;
	padding:0 0 5px 20px;
	width:100%; 
	position:relative;
	color:#000;
	font-size:11px;
	font-weight:bold;
	float:left; 
	background:url(../images/left-bullet.png) no-repeat 12px center;
	
}
.menu-hide-show{
 background-image:url(../images/menu-selection-cion.png);
 width:20px;
 height:20px;
 float:left;
 cursor:pointer;
  margin-left: 20px;
  padding-left: 20px;
  font-weight: bold;
}
.sidemenuOpen li a:hover { 
color:#06C;
background:url(../images/left-bullet.png) no-repeat 12px center; 
background-color: none;

}
a:hover,a:visited,a:active {
  text-decoration: none !important;
}
.row textarea{
 width:90% !Important;
}
.Header-text h2
{
 color:#fff;
 font-size:23px;
 font-family: Trebuchet MS,Arial, Helvetica, sans-serif;
 text-shadow:5px 3px 6px #000;
  margin-top: 13px;
}
a.menu-selected{
   background-color: #6699FF !important;
  color: #fff !important;
}
.selectBox ul li select{
margin:0 !important;
}
.rightBlock 
{
float:left;
width:100%;
}
.rightBlock h2 {
 text-align:center;
 font-family: Arial, Helvetica, sans-serif;
 color: #000;
height:10px;
 
}
.selectBox{
   background:#fff ;
   text-align: center;
    

}
 .checkbox-items{
 width:50%; float:left;"
 }
label{
 font-weight:normal;
}
.rightTxt p {
 text-align:center;
}
.DescribeEdit{
 width:100%;
 
}
.rightTxt p 
{
 font-size:16px !important;
 line-height: 20px;
 font-family: Arial, Helvetica, sans-serif;
}
p.lastNode a{   font-size: 14px;}